@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$text-color: #fff;
$dark: rgba(0, 0, 0, 0.5);
$main-blue: #56cbf9;
$hover-blue: #20bbf8;
$font-roboto: "Roboto", sans-serif;
$element-transition: all 0.3s ease-out;
