@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.layout {
  @include position(relative, 0, 0);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../img/mainBcg.jpg') center/cover no-repeat;

  &:after {
    content: '';
    @include position(absolute, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 50px 50px 150px #000000, inset -50px -50px 150px #000000;
    @include desktop {
      box-shadow: inset 60px 60px 120px #000000, inset -60px -60px 120px #000000;
    }
  }
}
