@import "../../styles/variables.scss";

.container {
  color: $text-color;
  text-align: center;

  div {
    background-color: $dark;
    padding: 3rem;
    width: 30%;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #222;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}
